/* Import reset css */
@import "reset-css.css";

:root {
  --elevation-main: 0px 2px 6px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
  --error-40: #BA1A1A;
  --error-50: #DE3730;
  --neutral-100: #FFFFFF;
  --neutral-40: #71787E;
  --neutral-70: #B8BBBE;
  --neutral-80: #EDEDED;
  --neutral-90: #F8F8F8;
  --primary-10: #032041;
  --secondary-40: #714DD8;
  --secondary-80: #DFD5FF;
  --success-50: #B6D265;
  --success-60: #C6DC87;
  --tertiary-80: #E9F6FF;
  --warn-50: #F1BA33;
  --warn-60: #F4CB66;
}

body {
  background-color: #F4F7FF;
}
